@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    background-color: white;
    width: 450px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 5px;
    margin: 10px auto 10px auto;
    box-shadow: 3px 3px 30px #2d2a9496 ;

}
body {
    background-color: #4742ED;

}
h1{
    color: #45CDF7;
    text-shadow: 2px 2px 2px #26728abb;
    margin:  1px auto 2px auto;
}
h2{
    color: #45CDF7;
    text-shadow: 2px 2px 2px #26728abb;
}
#TituloDosLinks{
    margin: 5px auto 5px auto;
    padding-top: 4px;
}
ul{
    padding: 0px;
    margin: auto;
    width: 450px;
    background-color: #458cf744;
    color: #45CDF7;
    border-radius: 15px;
    height: 160px;
    box-shadow: 3px 3px 30px #2d2a9496;
}
li{
    margin: 5px;
}
p{
    color: #45CDF7;
    margin: 2px auto 2px auto;
}
a{
    color: #42EDE8;
}
strong{
    color: #42EDE8;
}
img{
    color: #4995E0;
}
