@charset "UTF-8";

/* 
Tudo que for "id" em CSS vira "#"
Tudo que for "class" em CSS vira "."
*/

body{
    background-color: #55edb04b;
    font: normal 1em Arial, Helvetica, sans-serif;   
}
h1{
    color: #5BCBE0;
}
/*H1 PERSONALIZADO*/
#Principal{
    background-color: #5BCBE0;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 2px rgba(32, 136, 136, 0.507);
    font-weight: lighter; /*peso*/
    text-decoration: underline; /*sublinhado no titulo*/
    text-align: center;
}
h2{
    color: #5587ED;
    text-shadow: 2px 2px 2px #2941724f;
}
.subtitulo{
    background-color: #5587ED;
    color: white;
}
.pDestaque{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 30, 0);
    font-weight: 700;
}